<div class="mb-3">
  <table class="mb-3 col-12">
    <thead>
      <th colspan="12">Points</th>
    </thead>
    <tbody>
      <tr>
        <td>Points Scored</td>
        <td class="text-right">{{ this.playerGame.pointsScored }}</td>
      </tr>
    </tbody>
  </table>
  <table class="mb-3 col-12">
    <thead>
      <th colspan="12">Passing</th>
    </thead>
    <tbody>
      <tr>
        <td>College Passer Rating</td>
        <td class="text-right">
          {{ this.collegePasserRating | number : "0.2-2" }}
        </td>
      </tr>
      <tr>
        <td>NFL Passer Rating</td>
        <td class="text-right">
          {{ this.nflPasserRating | number : "0.2-2" }}
        </td>
      </tr>

      <tr>
        <td>Passing Yardage</td>
        <td class="text-right">
          {{ this.playerGame.passingYardage }} ({{
            this.passingYardagePerAttempt | number : "0.2-2"
          }}
          y/A) ({{ this.passingYardagePerCompletion | number : "0.2-2" }} y/C)
        </td>
      </tr>
      <tr>
        <td>Completion Percentage</td>
        <td class="text-right">
          {{ this.completionPercentage | percent : "0.2-2" }} ({{
            this.playerGame.passingCompletions
          }}/{{ this.playerGame.passingAttempts }})
        </td>
      </tr>
      <tr>
        <td>Passing Points</td>
        <td class="text-right">{{ this.passingPoints }}</td>
      </tr>
      <tr>
        <td>Passing Touchdowns</td>
        <td class="text-right">{{ this.playerGame.passingTds }}</td>
      </tr>
      <tr>
        <td>Passing 1-PT Conversions</td>
        <td class="text-right">{{ this.playerGame.passingOnePointConversions }}</td>
      </tr>
      <tr>
        <td>Passing 2-PT Conversions</td>
        <td class="text-right">{{ this.playerGame.passingTwoPointConversions }}</td>
      </tr>
      <tr>
        <td>Interceptions</td>
        <td class="text-right">{{ this.playerGame.passingInterceptions }}</td>
      </tr>
      <tr>
        <td>Sacks Taken</td>
        <td class="text-right">{{ this.playerGame.offensiveSacks }}</td>
      </tr>
    </tbody>
  </table>
  <table class="mb-3 col-12">
    <thead>
      <th colspan="12">Rushing</th>
    </thead>
    <tbody>
      <tr>
        <td>Rushing Yardage</td>
        <td class="text-right">
          {{ this.playerGame.rushingYardage }} ({{ this.rushingYardagePerAttempt | number : "0.2-2" }}
          y/C)
        </td>
      </tr>
      <tr>
        <td>Rushing Attempts</td>
        <td class="text-right">{{ this.playerGame.rushingAttempts }}</td>
      </tr>
      <tr>
        <td>Rushing Points</td>
        <td class="text-right">{{ this.rushingPoints }}</td>
      </tr>
      <tr>
        <td>Rushing Touchdowns</td>
        <td class="text-right">{{ this.playerGame.rushingTds }}</td>
      </tr>
      <tr>
        <td>Rushing 1-PT Conversions</td>
        <td class="text-right">
          {{ this.playerGame.rushingOnePointConversions }}
        </td>
      </tr>
      <tr>
        <td>Rushing 2-PT Conversions</td>
        <td class="text-right">
          {{ this.playerGame.rushingTwoPointConversions }}
        </td>
      </tr>
      <tr>
        <td>Fumbles</td>
        <td class="text-right">{{ this.playerGame.offensiveFumbles }}</td>
      </tr>
      <tr>
        <td>Safeties</td>
        <td class="text-right">{{ this.playerGame.offensiveSafeties }}</td>
      </tr>
    </tbody>
  </table>
  <table class="mb-3 col-12">
    <thead>
      <th colspan="12">Receiving</th>
    </thead>
    <tbody>
      <tr>
        <td>Receiving Yardage</td>
        <td class="text-right">
          {{ this.playerGame.receivingYardage }} ({{
            this.receivingYardagePerAttempt | number : "0.2-2"
          }}
          y/T) ({{ this.receivingYardagePerCompletion | number : "0.2-2" }} y/C)
        </td>
      </tr>
      <tr>
        <td>Reception Percentage</td>
        <td class="text-right">
          {{ this.receptionPercentage | percent : "0.2" }} ({{
            this.playerGame.receivingCompletions
          }}/{{ this.playerGame.receivingTargets }})
        </td>
      </tr>
      <tr>
        <td>Receiving Points</td>
        <td class="text-right">{{ this.receivingPoints }}</td>
      </tr>
      <tr>
        <td>Receiving Touchdowns</td>
        <td class="text-right">{{ this.playerGame.receivingTds }}</td>
      </tr>
      <tr>
        <td>Receiving 1-PT Conversions</td>
        <td class="text-right">
          {{ this.playerGame.receivingOnePointConversions }}
        </td>
      </tr>
      <tr>
        <td>Receiving 2-PT Conversions</td>
        <td class="text-right">
          {{ this.playerGame.receivingTwoPointConversions }}
        </td>
      </tr>
    </tbody>
  </table>
  <table class="mb-3 col-12">
    <thead>
      <th colspan="12">Defense</th>
    </thead>
    <tbody>
      <tr>
        <td>Flag Pulls</td>
        <td class="text-right">{{ this.playerGame.flagPulls }}</td>
      </tr>
      <tr>
        <td>Interceptions</td>
        <td class="text-right">{{ this.playerGame.defensiveInterceptions }}</td>
      </tr>
      <tr>
        <td>Fumble Recoveries</td>
        <td class="text-right">{{ this.playerGame.defensiveFumbles }}</td>
      </tr>
      <tr>
        <td>Safeties</td>
        <td class="text-right">{{ this.playerGame.defensiveSafeties }}</td>
      </tr>
      <tr>
        <td>Sacks</td>
        <td class="text-right">{{ this.playerGame.defensiveSacks }}</td>
      </tr>
      <tr>
        <td>Defensive Points</td>
        <td class="text-right">{{ this.defensivePoints }}</td>
      </tr>
      <tr>
        <td>Defensive Touchdowns</td>
        <td class="text-right">{{ this.playerGame.defensiveTds }}</td>
      </tr>
      <tr>
        <td>Defensive 1-PT Conversions</td>
        <td class="text-right">
          {{ this.playerGame.defensiveOnePointConversions }}
        </td>
      </tr>
      <tr>
        <td>Defensive 2-PT Conversions</td>
        <td class="text-right">
          {{ this.playerGame.defensiveTwoPointConversions }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
