@if (gameData$ | async; as response) { @if (response.result; as gameData) {
<div class="flex gap-3 mb-3">
  <p-card class="w-30rem">
    <div class="p-card-title text-center">Scorekeeper</div>
    <!-- <div class="text-center font-semibold text-900">{{ game | game }}</div> -->
    <div class="text-center text-600 mb-3">Game ID: {{ gameData.game.id }}</div>
    <div class="text-center mb-3">
      <p-button
        size="small"
        class="mr-2"
        icon="pi pi-eye"
        severity="primary"
        [routerLink]="['/', 'games', gameData.game.id]"
      />
      <p-button
        size="small"
        class="mr-2"
        icon="pi pi-calculator"
        severity="warning"
        [routerLink]="['/', 'games', 'stats', gameData.game.id]"
      />
      <p-button
        size="small"
        icon="pi pi-pencil"
        severity="primary"
        [routerLink]="['/', 'edit-game', gameData.game.id]"
      />
    </div>
    <form [formGroup]="form" (ngSubmit)="(form.valid)">
      <div class="p-fluid p-formgrid grid">
        <div class="col-12">
          <p-selectButton
            [options]="teams"
            formControlName="offensiveTeamId"
            optionLabel="label"
            optionValue="value"
          />
        </div>
        <div class="col-6">
          <label htmlFor="down">Down</label>
          <p-dropdown formControlName="down" [options]="[1, 2, 3, 4]" />
        </div>
        <div class="col-6">
          <label htmlFor="yardLine">Yardline</label>
          <p-inputNumber
            id="yardLine"
            formControlName="yardLine"
            placeholder="Enter the Yard Line"
            pTooltip="0-40"
            tooltipPosition="bottom"
          />
        </div>
        <div class="col-12">
          <label htmlFor="type">Play Type</label>
          <p-dropdown
            formControlName="type"
            [options]="types"
            optionLabel="label"
            optionValue="value"
            placeholder="Select a Play Type"
          ></p-dropdown>
        </div>
        @if (form.controls.passerId.enabled) {
        <div class="col-12">
          <label htmlFor="passerId">Passer</label>
          <p-dropdown
            id="passerId"
            formControlName="passerId"
            [options]="offensiveTeamRoster"
            optionLabel="player.name"
            optionValue="player.id"
            placeholder="Select a Player"
          />
        </div>
        <div class="col-12">
          <label htmlFor="receiverId">Receiver</label>
          <p-dropdown
            id="receiverId"
            formControlName="receiverId"
            [options]="offensiveTeamRoster"
            optionLabel="player.name"
            optionValue="player.id"
            placeholder="Select a Player"
          />
        </div>
        } @if (form.controls.rusherId.enabled) {
        <div class="col-12">
          <label htmlFor="rusherId">Rusher</label>
          <p-dropdown
            id="rusherId"
            formControlName="rusherId"
            [options]="offensiveTeamRoster"
            optionLabel="player.name"
            optionValue="player.id"
            placeholder="Select a Player"
          />
        </div>
        }
        @if (form.controls.isCompletedPass.enabled) {
          <div class="col-12">
            <p-checkbox formControlName="isCompletedPass" [binary]="true" label="Completed Pass"/>
          </div>
        }
        @if (form.controls.isSack.enabled) {
          <div class="col-12">
            <p-checkbox formControlName="isSack" [binary]="true" label="Sack"/>
          </div>
        }
        @if (form.controls.yardage.enabled) {
        <div class="col-12">
          <label htmlFor="yardage">Yardage Gained</label>
          <p-dropdown formControlName="yardage" [options]="possibleDistances" placeholder="0"/>
        </div>
        }
        <div class="col-12">
          <label htmlFor="turnoverType">Turnover Type</label>
          <p-dropdown
            formControlName="turnoverType"
            [options]="turnoverTypes"
            optionLabel="label"
            optionValue="value"
          ></p-dropdown>
        </div>
        <div>
        @if (form.controls.flagPullerId.enabled) {
          @if (this.isTurnover) {
            <div class="col-12">
              <label htmlFor="flagPullerId">Flag Puller</label>
              <p-dropdown
                id="flagPullerId"
                formControlName="flagPullerId"
                [options]="offensiveTeamRoster"
                optionLabel="player.name"
                optionValue="player.id"
                placeholder="Select a Player"
              />
            </div>
          }
          @else {
            <div class="col-12">
              <label htmlFor="flagPullerId">Flag Puller</label>
              <p-dropdown
                id="flagPullerId"
                formControlName="flagPullerId"
                [options]="defensiveTeamRoster"
                optionLabel="player.name"
                optionValue="player.id"
                placeholder="Select a Player"
              />
            </div>
          }
        }
        </div>
         @if (form.controls.turnoverPlayerId.enabled) {
        <div class="col-12">
          <label htmlFor="turnoverPlayerId">Turnover Player</label>
          <p-dropdown
            id="turnoverPlayerId"
            formControlName="turnoverPlayerId"
            [options]="defensiveTeamRoster"
            optionLabel="player.name"
            optionValue="player.id"
            placeholder="Select a Player"
          />
        </div>
        }
        <!-- <div class="field">
          <label htmlFor="location">Location</label>
          <input
            pInputText
            id="location"
            formControlName="location"
            placeholder="Enter a Location"
            pTooltip="1-100 characters"
            tooltipPosition="bottom"
            [maxlength]="100"
          />
        </div>
        <div class="field">
          <label htmlFor="status">Status</label>
          <input
            pInputText
            id="status"
            formControlName="status"
            placeholder="Enter a Status"
            pTooltip="1-10 characters"
            tooltipPosition="bottom"
            [maxlength]="10"
          />
        </div> -->
      </div>
    </form>

    
  </p-card>

  <!-- <p-card class="w-30rem">
    <div class="p-card-title text-center">Plays</div>
    @for (play of plays; track $index) { @switch (play.type) { @case ("Passing")
    {
    <pass-play [play]="play"></pass-play>
    } @case ("Rushing") {
    <rush-play [play]="play"></rush-play>
    } @case ("OnePointPass") {
    <pass-play [play]="play"></pass-play>
    } @case ("OnePointRush") {
    <rush-play [play]="play"></rush-play>
    } @case ("TwoPointPass") {
    <pass-play [play]="play"></pass-play>
    } @case ("TwoPointRush") {
    <rush-play [play]="play"></rush-play>
    } @default() {
    <div>{{ play.id }}</div>
    } } } @empty {
    <div>No current plays.</div>
    }
  </p-card> -->
  <div>
    <div class="flex mb-2">
      <p-card class="w-14rem mr-2">
        <div class="p-card-title text-center">{{gameData.game.awayTeamName}}</div>
        <div class="p-card-title text-center">{{gameData.game.awayScore}}</div>      
      </p-card>
      <p-card class="w-14rem">
        <div class="p-card-title text-center">{{gameData.game.homeTeamName}}</div>
        <div class="p-card-title text-center">{{gameData.game.homeScore}}</div>      
      </p-card>
    </div>
    @if (form.valid && currentPlay != undefined) {
      <p-card class="w-30rem">
        <div class="p-card-title text-center">Current Play</div>
        <play-list-item [playStats]="currentPlay"/>

        <ng-template pTemplate="footer">
          <div class="flex justify-content-end">
            <p-button
              label="Save"
              icon="pi pi-check"
              severity="success"
              [disabled]="!form.valid || !form.dirty"
              (onClick)="createPlayClicked()"
            />
            <p-button
              label="Cancel"
              icon="pi pi-times"
              severity="danger"
              class="ml-2"
              [routerLink]="['/']"
            />
          </div>

          @if(errors.length) {
            <p-messages [(value)]="errors" [enableService]="false"></p-messages>
            }
        </ng-template>

      </p-card>
    }
  </div>
  
  <p-card class="w-30rem">
    <div class="p-card-title text-center">Plays</div>
    <play-list [gameId]="id" [canDelete]="true"></play-list>
  </p-card>
</div>

}
}