<h1>Schedule</h1>
@if (games$ | async; as response) { @if (response.result; as games) {
<p-card [header]="'Current Games'" class="w-30rem">
  @for(game of games; track game.id) {
  <div class="flex gap-3 align-items-center mb-3">
    <p-button
      size="small"
      icon="pi pi-eye"
      severity="success"
      [routerLink]="['/', 'games', game.id]"
    />
    <p-button
      size="small"
      icon="pi pi-pencil"
      severity="primary"
      [routerLink]="['/', 'edit-game', game.id]"
    />
    <div class="p-card-title text-center align-items-center">
      {{ game | game }}
    </div>
    <div class="text-center text-600 mb-3">
      {{ game | gameinfo }}
    </div>
  </div>
  } @empty {
  <div>No Games.</div>
  }
</p-card>
} }
