################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Goalpost/Goalpost.WebApi/appsettings.Development.json
