@if (team$ | async; as team) {
<div class="flex gap-3">
  <p-card [header]="'Edit Team - ' + team.id" class="w-30rem">
    <form [formGroup]="form" (ngSubmit)="(form.valid)">
      <div class="p-fluid">
        <div class="field">
          <label htmlFor="id">ID</label>
          <input
            pInputText
            id="id"
            formControlName="id"
            placeholder="Enter an ID"
            pTooltip="2-4 characters"
            tooltipPosition="bottom"
            [maxlength]="4"
          />
        </div>
        <div class="field">
          <label htmlFor="name">Name</label>
          <input
            pInputText
            id="name"
            formControlName="name"
            placeholder="Enter a name"
            pTooltip="4-25 characters"
            tooltipPosition="bottom"
            [maxlength]="25"
          />
        </div>
      </div>
    </form>

    @if(errors.length) {
    <p-messages [(value)]="errors" [enableService]="false"></p-messages>
    }

    <ng-template pTemplate="footer">
      <div class="flex justify-content-end">
        <p-button
          label="Save"
          icon="pi pi-check"
          severity="success"
          [disabled]="!form.valid || !form.dirty"
          (onClick)="editTeamClicked()"
        />
        <p-button
          label="Cancel"
          icon="pi pi-times"
          severity="danger"
          class="ml-2"
          [routerLink]="['/']"
        />
      </div>
    </ng-template>
  </p-card>

  <p-card header="Current Teams" class="w-15rem">
    @if (teams$ | async; as teams) {
    <ul>
      @for(team of teams; track $index) {
      <li>
        <a [routerLink]="['/', 'teams', team.id]"
          >{{ team.id }} - {{ team.name }}</a
        >
      </li>
      }
    </ul>
    }
  </p-card>
</div>
}
