<div class="flex">
@if (this.canDelete) {
  <p-button
      size="small"
      class="mr-2"
      icon="pi pi-trash"
      severity="danger"
      (onClick)="deletePlay()"
  />
}
<div>
<!-- <p-meterGroup [value]="value"></p-meterGroup> -->
@if (this.isPassingPlay) {
  <div class="mb-3">
    {{this.offensiveTeamName}}
    <span>
      - {{playDisplay[playStats.play.down - 1]}} & {{playStats.play.yardLine}} from {{playStats.play.yardLine}} -
    </span>
    <a class="font-semibold" [routerLink]="['/', 'players', playStats.play.passerId]">
      {{this.passerName}}
    </a>
    <span>
      pass to
    </span>
    <a class="font-semibold" [routerLink]="['/', 'players', playStats.play.receiverId]">{{this.receiverName}}</a>
    @if (playStats.play.isCompletedPass) {
      <span> completed for {{playStats.play.yardage}} yards,</span>
    } @else if (playStats.play.turnoverType === 'Interception') {
      <span>INTERCEPTED by</span>
      <a class="font-semibold" [routerLink]="['/', 'players', playStats.play.turnoverPlayerId]">{{this.turnoverPlayerName}}</a>
      @if (this.is40) {
        <span>AND RETURNED FOR A TOUCHDOWN!!!</span>
      }
    } @else if (playStats.play.turnoverType === 'Fumble') {
      <span>FUMBLED!!! Recovered by</span>
      <a class="font-semibold" [routerLink]="['/', 'players', playStats.play.turnoverPlayerId]">{{this.turnoverPlayerName}}</a>
      @if (this.is40) {
        <span>AND RETURNED FOR A TOUCHDOWN!!!</span>
      }
    }
    @if (this.is0 && playStats.play.turnoverType === "None") {
      @switch (playStats.play.type) {
        @case ("Passing") {
          TOUCHDOWN!!!
        }
        @case ("TwoPointPass") {
          2-PT CONVERSION GOOD!!!
        }
        @case ("OnePointPass") {
          1-PT CONVERSION GOOD!!!
        }
      }
    }
    @else if (playStats.play.isSack) {
      SACKED by
      <a class="font-semibold" [routerLink]="['/', 'players', playStats.play.flagPullerId]">{{this.flagPullerName}}.</a>
    }
    @else if (!playStats.play.isCompletedPass && !playStats.play.isSack) {
      pass falls incomplete.
    }
    @else if (playStats.play.yardLine - playStats.play.yardage > 0 && playStats.play.turnoverType === "None") {
      flag pulled by
      <a class="font-semibold" [routerLink]="['/', 'players', playStats.play.flagPullerId]">{{this.flagPullerName}}.</a>
    }
    @if (playStats.play.type === "TwoPointPass" && playStats.play.yardLine - playStats.play.yardage > 0){
      2-PT Conversion is no good.
    }
    @if (playStats.play.type === "OnePointPass" && playStats.play.yardLine - playStats.play.yardage > 0) {
      1-PT Conversion is no good.
    }
  </div>
} @else {
  <div class="mb-3">
    {{this.offensiveTeamName}}
    <span>
      - {{playDisplay[playStats.play.down - 1]}} & {{playStats.play.yardLine}} from {{playStats.play.yardLine}} - Rush by
    </span>
    <a class="font-semibold" [routerLink]="['/', 'players', playStats.play.rusherId]">{{this.rusherName}}</a>
    @if (playStats.play.turnoverType === 'None') {
      for a gain of {{playStats.play.yardage}} yards,
    } @else if (playStats.play.turnoverType === 'Interception') {
      INTERCEPTED by
      <a class="font-semibold" [routerLink]="['/', 'players', playStats.play.turnoverPlayerId]">{{this.turnoverPlayerName}}</a>
      @if (this.is40) {
        AND RETURNED FOR A TOUCHDOWN!!!
      }
    } @else if (playStats.play.turnoverType === 'Fumble') {
      FUMBLED!!! Recovered by
      <a class="font-semibold" [routerLink]="['/', 'players', playStats.play.turnoverPlayerId]">{{this.turnoverPlayerName}}</a>
      @if (this.is40) {
        AND RETURNED FOR A TOUCHDOWN!!!
      }
    }
    @if (this.is0 && playStats.play.turnoverType === "None") {
      @switch (playStats.play.type) {
        @case ("Rushing") {
          TOUCHDOWN!!!
        }
        @case ("TwoPointRush") {
          2-PT CONVERSION GOOD!!!
        }
        @case ("OnePointRush") {
          1-PT CONVERSION GOOD!!!
        }
      }
    }
    @else if (playStats.play.yardLine - playStats.play.yardage > 0 && playStats.play.turnoverType === "None") {
      flag pulled by
      <a class="font-semibold" [routerLink]="['/', 'players', playStats.play.flagPullerId]">{{this.flagPullerName}}.</a>
    }
    @if (playStats.play.type === "TwoPointRush" && playStats.play.yardLine - playStats.play.yardage > 0){
      2-PT Conversion is no good.
    }
    @if (playStats.play.type === "OnePointRush" && playStats.play.yardLine - playStats.play.yardage > 0) {
      1-PT Conversion is no good.
    }
  </div>
}
</div>
</div>