@if (game$ | async; as game) {
<div class="flex gap-3 mb-3">
  <p-card class="w-30rem">
    <div class="p-card-title text-center">Scorekeeper</div>
    <div class="text-center font-semibold text-900">{{ game | game }}</div>
    <div class="text-center text-600 mb-3">Game ID: {{ game.id }}</div>
    <div class="text-center">
      <p-button
        size="small"
        icon="pi pi-eye"
        severity="primary"
        [routerLink]="['/', 'games', game.id]"
      />
    </div>
    <form [formGroup]="form" (ngSubmit)="(form.valid)">
      <div class="p-fluid">
        <div class="field">
          <label htmlFor="startTime">Start Time</label>
          <p-calendar
            formControlName="startTime"
            [showIcon]="true"
            [showTime]="true"
            hourFormat="12"
          ></p-calendar>
        </div>
        <div class="field">
          <label htmlFor="location">Location</label>
          <input
            pInputText
            id="location"
            formControlName="location"
            placeholder="Enter a Location"
            pTooltip="1-100 characters"
            tooltipPosition="bottom"
            [maxlength]="100"
          />
        </div>
        <div class="field">
          <label htmlFor="status">Status</label>
          <input
            pInputText
            id="status"
            formControlName="status"
            placeholder="Enter a Status"
            pTooltip="1-10 characters"
            tooltipPosition="bottom"
            [maxlength]="10"
          />
        </div>
      </div>
    </form>

    @if(errors.length) {
    <p-messages [(value)]="errors" [enableService]="false"></p-messages>
    }

    <ng-template pTemplate="footer">
      <div class="flex justify-content-end">
        <p-button
          label="Save"
          icon="pi pi-check"
          severity="success"
          [disabled]="!form.valid || !form.dirty"
          (onClick)="editGameClicked()"
        />
        <p-button
          label="Cancel"
          icon="pi pi-times"
          severity="danger"
          class="ml-2"
          [routerLink]="['/']"
        />
      </div>
    </ng-template>
  </p-card>

  @if (plays$ | async; as plays) {
  <p-card class="w-30rem">
    <div class="p-card-title text-center">Plays</div>
    @for (play of plays; track $index) {
      <div>{{play.id}}</div>
    }
    @empty {
      <div>No current plays.</div>
    }
  </p-card>
  }
</div>

}
