@if (game$ | async; as game) {
<div class="flex gap-3 mb-3">
  <p-card class="w-30rem">
    <div class="p-card-title text-center">Scorekeeper</div>
    <div class="text-center font-semibold text-900">{{ game | game }}</div>
    <div class="text-center text-600 mb-3">Game ID: {{ game.id }}</div>
    <div class="text-center mb-3">
      <p-button
        size="small"
        class="mr-2"
        icon="pi pi-eye"
        severity="primary"
        [routerLink]="['/', 'games', game.id]"
      />
      <p-button
        size="small"
        icon="pi pi-pencil"
        severity="primary"
        [routerLink]="['/', 'edit-game', game.id]"
      />
    </div>
    <form [formGroup]="form" (ngSubmit)="(form.valid)">
      <div class="p-fluid p-formgrid grid">
        <div class="col-12">
          <p-selectButton
            [options]="teams"
            formControlName="offensiveTeamId"
            optionLabel="label"
            optionValue="value"
          />
        </div>
        <div class="col-4">
          <label htmlFor="down">Down</label>
          <p-dropdown formControlName="down" [options]="[1, 2, 3, 4]" />
        </div>
        <div class="col-4">
          <label htmlFor="distanceToGo">Distance</label>
          <p-inputNumber
            id="distanceToGo"
            formControlName="distanceToGo"
          />
        </div>
        <div class="col-4">
          <label htmlFor="yardLine">Yardline</label>
          <p-inputNumber
            id="yardLine"
            formControlName="yardLine"
            placeholder="Enter the Yard Line"
            pTooltip="0-40"
            tooltipPosition="bottom"
          />
        </div>
        <div class="col-12">
          <label htmlFor="type">Play Type</label>
          <p-dropdown
            formControlName="type"
            [options]="playTypes"
            optionLabel="label"
            optionValue="value"
          ></p-dropdown>
        </div>
        @if (form.controls.passer.enabled) {
        <div class="col-12">
          <label htmlFor="passer">Passer</label>
          <p-dropdown
            id="passer"
            formControlName="passer"
            [options]="$any(offensiveTeamRoster$ | async)"
            optionLabel="name"
            optionValue="id"
            placeholder="Select a Player"
          />
        </div>
        <div class="col-12">
          <label htmlFor="receiver">Receiver</label>
          <p-dropdown
            id="receiver"
            formControlName="receiver"
            [options]="$any(offensiveTeamRoster$ | async)"
            optionLabel="name"
            optionValue="id"
            placeholder="Select a Player"
          />
        </div>
        } @if (form.controls.rusher.enabled) {
        <div class="col-12">
          <label htmlFor="rusher">Rusher</label>
          <p-dropdown
            id="rusher"
            formControlName="rusher"
            [options]="$any(offensiveTeamRoster$ | async)"
            optionLabel="name"
            optionValue="id"
            placeholder="Select a Player"
          />
        </div>
        } 
        @if (form.controls.yardage.enabled) {
        <div class="col-6">
          <label htmlFor="points">Points Scored</label>
          <p-dropdown formControlName="points" [options]="[0, 1, 2, 6]" />
        </div>
        <div class="col-6">
          <label htmlFor="yardage">Yardage Gained</label>
          <p-dropdown formControlName="yardage" [options]="possibleDistances"/>
        </div>
        } @else {
          <div class="col-12">
            <label htmlFor="points">Points Scored</label>
            <p-dropdown formControlName="points" [options]="[0, 1, 2, 6]" />
          </div>
        }
        <div class="col-12">
          <label htmlFor="turnoverType">Turnover Type</label>
          <p-dropdown
            formControlName="turnoverType"
            [options]="turnoverTypes"
            optionLabel="label"
            optionValue="value"
          ></p-dropdown>
        </div>
        @if (form.controls.flagPuller.enabled) {
        <div class="col-12">
          <label htmlFor="flagPuller">Flag Puller</label>
          <p-dropdown
            id="flagPuller"
            formControlName="flagPuller"
            [options]="$any(defensiveTeamRoster$ | async)"
            optionLabel="name"
            optionValue="id"
            placeholder="Select a Player"
          />
        </div>
        } @if (form.controls.turnoverPlayer.enabled) {
        <div class="col-12">
          <label htmlFor="turnoverPlayer">Turnover Player</label>
          <p-dropdown
            id="turnoverPlayer"
            formControlName="turnoverPlayer"
            [options]="$any(defensiveTeamRoster$ | async)"
            optionLabel="name"
            optionValue="id"
            placeholder="Select a Player"
          />
        </div>
        }
        <!-- <div class="field">
          <label htmlFor="location">Location</label>
          <input
            pInputText
            id="location"
            formControlName="location"
            placeholder="Enter a Location"
            pTooltip="1-100 characters"
            tooltipPosition="bottom"
            [maxlength]="100"
          />
        </div>
        <div class="field">
          <label htmlFor="status">Status</label>
          <input
            pInputText
            id="status"
            formControlName="status"
            placeholder="Enter a Status"
            pTooltip="1-10 characters"
            tooltipPosition="bottom"
            [maxlength]="10"
          />
        </div> -->
      </div>
    </form>

    @if(errors.length) {
    <p-messages [(value)]="errors" [enableService]="false"></p-messages>
    }

    <ng-template pTemplate="footer">
      <div class="flex justify-content-end">
        <p-button
          label="Save"
          icon="pi pi-check"
          severity="success"
          [disabled]="!form.valid || !form.dirty"
          (onClick)="createPlayClicked()"
        />
        <p-button
          label="Cancel"
          icon="pi pi-times"
          severity="danger"
          class="ml-2"
          [routerLink]="['/']"
        />
      </div>
    </ng-template>
  </p-card>

  @if (plays$ | async; as plays) {
  <!-- <p-card class="w-30rem">
    <div class="p-card-title text-center">Plays</div>
    @for (play of plays; track $index) { @switch (play.type) { @case ("passing")
    {
    <pass-play [play]="play"></pass-play>
    } @case ("rushing") {
    <rush-play [play]="play"></rush-play>
    } @case ("one-point-pass") {
    <pass-play [play]="play"></pass-play>
    } @case ("one-point-rush") {
    <rush-play [play]="play"></rush-play>
    } @case ("two-point-pass") {
    <pass-play [play]="play"></pass-play>
    } @case ("two-point-rush") {
    <rush-play [play]="play"></rush-play>
    } @default() {
    <div>{{ play.id }}</div>
    } } } @empty {
    <div>No current plays.</div>
    }
  </p-card> -->
  
  <p-card class="w-30rem">
    <div class="p-card-title text-center">Plays</div>
    <play-list [gameId]="id"></play-list>
  </p-card>
  }
</div>

}
