@if (playerGames$ | async; as response) { @if (response.result; as playerGames) {
  @if (playerGame$ | async; as playerGame) { 
    @if (player$ | async; as playerResponse) { @if (playerResponse.result; as player) {
    <h1>{{player.name}}</h1>
    }} @else {
      <p-progressBar mode="indeterminate"></p-progressBar>
    }
    @if (game$ | async; as gameResponse) { @if (gameResponse.result; as game) {
      @if (playerGame.isHome) {
        <h2>on {{game.homeTeamName}} against {{game.awayTeamName}}</h2>
      } @else {
        <h2>on {{game.awayTeamName}} against {{game.homeTeamName}}</h2>
      }
    }}
  
    <p-card class="w-30rem">
        <player-game-stats [playerGame]="playerGame"></player-game-stats>
    </p-card>
  }
  @else {
    <p-progressBar mode="indeterminate"></p-progressBar>
  }
}}

