<div class="mb-3">
  <table class="mb-3 col-12">
    <thead>
      <th colspan="12">Points</th>
    </thead>
    <tbody>
      <tr>
        <td>Points Scored</td>
        <td class="text-right">{{ this.player.pointsScored }}</td>
      </tr>
    </tbody>
  </table>
  <table class="mb-3 col-12">
    <thead>
      <th colspan="12">Passing</th>
    </thead>
    <tbody>
      <tr>
        <td>Passing Yardage</td>
        <td class="text-right">
          {{ this.player.passingYardage }} ({{
            this.passingYardagePerAttempt
          }}
          y/A) ({{ this.passingYardagePerCompletion }} y/C)
        </td>
      </tr>
      <tr>
        <td>Completion Percentage</td>
        <td class="text-right">
          {{ this.completionPercentage | percent : "0.2" }} ({{
            this.player.passingCompletions
          }}/{{ this.player.passingAttempts }})
        </td>
      </tr>
      <tr>
        <td>Passing Points</td>
        <td class="text-right">{{ this.passingPoints }}</td>
      </tr>
      <tr>
        <td>Passing Touchdowns</td>
        <td class="text-right">{{ this.player.passingTds }}</td>
      </tr>
      <tr>
        <td>Passing 1-PT Conversions</td>
        <td class="text-right">{{ this.player.passingOnePointConversions }}</td>
      </tr>
      <tr>
        <td>Passing 2-PT Conversions</td>
        <td class="text-right">{{ this.player.passingTwoPointConversions }}</td>
      </tr>
      <tr>
        <td>Interceptions</td>
        <td class="text-right">{{ this.player.passingInterceptions }}</td>
      </tr>
      <tr>
        <td>Sacks Taken</td>
        <td class="text-right">{{ this.player.offensiveSacks }}</td>
      </tr>
    </tbody>
  </table>
  <table class="mb-3 col-12">
    <thead>
      <th colspan="12">Rushing</th>
    </thead>
    <tbody>
      <tr>
        <td>Rushing Yardage</td>
        <td class="text-right">
          {{ this.player.rushingYardage }} ({{ this.rushingYardagePerAttempt }}
          y/C)
        </td>
      </tr>
      <tr>
        <td>Rushing Attempts</td>
        <td class="text-right">{{ this.player.rushingAttempts }}</td>
      </tr>
      <tr>
        <td>Rushing Points</td>
        <td class="text-right">{{ this.rushingPoints }}</td>
      </tr>
      <tr>
        <td>Rushing Touchdowns</td>
        <td class="text-right">{{ this.player.rushingTds }}</td>
      </tr>
      <tr>
        <td>Rushing 1-PT Conversions</td>
        <td class="text-right">
          {{ this.player.rushingOnePointConversions }}
        </td>
      </tr>
      <tr>
        <td>Rushing 2-PT Conversions</td>
        <td class="text-right">
          {{ this.player.rushingTwoPointConversions }}
        </td>
      </tr>
      <tr>
        <td>Fumbles</td>
        <td class="text-right">{{ this.player.offensiveFumbles }}</td>
      </tr>
      <tr>
        <td>Safeties</td>
        <td class="text-right">{{ this.player.offensiveSafeties }}</td>
      </tr>
    </tbody>
  </table>
  <table class="mb-3 col-12">
    <thead>
      <th colspan="12">Receiving</th>
    </thead>
    <tbody>
      <tr>
        <td>Receiving Yardage</td>
        <td class="text-right">
          {{ this.player.receivingYardage }} ({{
            this.receivingYardagePerAttempt
          }}
          y/T) ({{ this.receivingYardagePerCompletion }} y/C)
        </td>
      </tr>
      <tr>
        <td>Reception Percentage</td>
        <td class="text-right">
          {{ this.receptionPercentage | percent : "0.2" }} ({{
            this.player.receivingCompletions
          }}/{{ this.player.receivingTargets }})
        </td>
      </tr>
      <tr>
        <td>Receiving Points</td>
        <td class="text-right">{{ this.receivingPoints }}</td>
      </tr>
      <tr>
        <td>Receiving Touchdowns</td>
        <td class="text-right">{{ this.player.receivingTds }}</td>
      </tr>
      <tr>
        <td>Receiving 1-PT Conversions</td>
        <td class="text-right">
          {{ this.player.receivingOnePointConversions }}
        </td>
      </tr>
      <tr>
        <td>Receiving 2-PT Conversions</td>
        <td class="text-right">
          {{ this.player.receivingTwoPointConversions }}
        </td>
      </tr>
    </tbody>
  </table>
  <table class="mb-3 col-12">
    <thead>
      <th colspan="12">Defense</th>
    </thead>
    <tbody>
      <tr>
        <td>Flag Pulls</td>
        <td class="text-right">{{ this.player.flagPulls }}</td>
      </tr>
      <tr>
        <td>Interceptions</td>
        <td class="text-right">{{ this.player.defensiveInterceptions }}</td>
      </tr>
      <tr>
        <td>Fumble Recoveries</td>
        <td class="text-right">{{ this.player.defensiveFumbles }}</td>
      </tr>
      <tr>
        <td>Safeties</td>
        <td class="text-right">{{ this.player.defensiveSafeties }}</td>
      </tr>
      <tr>
        <td>Sacks</td>
        <td class="text-right">{{ this.player.defensiveSacks }}</td>
      </tr>
      <tr>
        <td>Defensive Points</td>
        <td class="text-right">{{ this.defensivePoints }}</td>
      </tr>
      <tr>
        <td>Defensive Touchdowns</td>
        <td class="text-right">{{ this.player.defensiveTds }}</td>
      </tr>
      <tr>
        <td>Defensive 1-PT Conversions</td>
        <td class="text-right">
          {{ this.player.defensiveOnePointConversions }}
        </td>
      </tr>
      <tr>
        <td>Defensive 2-PT Conversions</td>
        <td class="text-right">
          {{ this.player.defensiveTwoPointConversions }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
