@if (combined$ | async; as results) {
  
  <div class="mb-3">
    <a class="font-semibold" [routerLink]="['/', 'teams', results.offensiveTeam.id]">{{results.offensiveTeam.name}}</a>
    - {{playDisplay[play.down - 1]}} & {{play.distanceToGo}} from {{play.yardLine}} -
    <a class="font-semibold" [routerLink]="['/', 'players', results.passPlayer.id]">{{results.passPlayer.name}}</a>
    pass to
    <a class="font-semibold" [routerLink]="['/', 'players', results.receivePlayer.id]">{{results.receivePlayer.name}}</a>
    @if (play.completedPass) {
      completed for {{play.yardage}} yards,
    } @else if (play.turnoverType === 'Interception') {
      INTERCEPTED by
      <a class="font-semibold" [routerLink]="['/', 'players', results.turnoverPlayer!.id]">{{results.turnoverPlayer!.name}}</a>
      @if (play.points === 6) {
        AND RETURNED FOR A TOUCHDOWN!!!
      }
    } @else if (play.turnoverType === 'Fumble') {
      FUMBLED!!! Recovered by
      <a class="font-semibold" [routerLink]="['/', 'players', results.turnoverPlayer!.id]">{{results.turnoverPlayer!.name}}</a>
      @if (play.points === 6) {
        AND RETURNED FOR A TOUCHDOWN!!!
      }
    }
    @if (play.points === 6 && !play.turnoverType) {
      TOUCHDOWN!!!
    }
    @else if (play.points === 2 && !play.turnoverType) {
      2-PT CONVERSION GOOD!!!
    }
    @else if (play.points === 1 && !play.turnoverType) {
      1-PT CONVERSION GOOD!!!
    }
    @else if (play.points === 0 && !play.turnoverType) {
      flag pulled by
      <a class="font-semibold" [routerLink]="['/', 'players', results.flagPuller!.id]">{{results.flagPuller!.name}}.</a>
    }
    @if (play.type === "TwoPointPass" && (play.points === 0 || play.turnoverType)) {
      2-PT Conversion is no good.
    }
    @if (play.type === "OnePointPass" && (play.points === 0 || play.turnoverType)) {
      1-PT Conversion is no good.
    }
  </div>
}
