@if (gameData$ | async; as response) { @if (response.result; as gameData) {

<div class="flex gap-3 mb-3">
  <p-card class="w-30rem">
    <div class="p-card-title text-center">Edit Game</div>
    <div class="text-center font-semibold text-900">
      {{ gameData.game | game }}
    </div>
    <div class="text-center text-600 mb-3">Game ID: {{ gameData.game.id }}</div>
    <div class="text-center">
      <p-button
        size="small"
        class="mr-2"
        icon="pi pi-eye"
        severity="primary"
        [routerLink]="['/', 'games', gameData.game.id]"
      />
      <p-button
        size="small"
        class="mr-2"
        icon="pi pi-stopwatch"
        severity="success"
        [routerLink]="['/', 'scorekeeper', gameData.game.id]"
      />
      @if (gameData.game.status === 'Final' || gameData.game.status ===
      'Ongoing') {
      <p-button
        size="small"
        icon="pi pi-stopwatch"
        severity="success"
        [routerLink]="['/', 'scorekeeper', gameData.game.id]"
      />
      }
    </div>
    <form [formGroup]="form" (ngSubmit)="(form.valid)">
      <div class="p-fluid">
        <div class="field">
          <label htmlFor="startTime">Start Time</label>
          <p-calendar
            formControlName="startTime"
            [showIcon]="true"
            [showTime]="true"
            hourFormat="12"
          ></p-calendar>
        </div>
        <div class="field">
          <label htmlFor="location">Location</label>
          <input
            pInputText
            id="location"
            formControlName="location"
            placeholder="Enter a Location"
            pTooltip="1-100 characters"
            tooltipPosition="bottom"
            [maxlength]="100"
          />
        </div>
        <div class="field">
          <label htmlFor="status">Status</label>
          <p-dropdown
            id="status"
            formControlName="status"
            [options]="statuses"
            optionLabel="label"
            optionValue="value"
            placeholder="Select a Status"
          />
        </div>
        <div class="field">
          <label htmlFor="awayTeamCode">Away Team Code</label>
          <input
            pInputText
            id="awayTeamCode"
            formControlName="awayTeamCode"
            placeholder="Enter Away Team Code"
            [maxlength]="4"
            [minlength]="2"
          />
        </div>
        <div class="field">
          <label htmlFor="homeTeamCode">Home Team Code</label>
          <input
            pInputText
            id="homeTeamCode"
            formControlName="homeTeamCode"
            placeholder="Enter Home Team Code"
            [maxlength]="4"
            [minlength]="2"
          />
        </div>
        <div class="field">
          <label htmlFor="awayTeamName">Away Team Name</label>
          <input
            pInputText
            id="awayTeamName"
            formControlName="awayTeamName"
            placeholder="Enter Away Team Name"
            [maxlength]="20"
            [minlength]="4"
          />
        </div>
        <div class="field">
          <label htmlFor="homeTeamName">Home Team Name</label>
          <input
            pInputText
            id="homeTeamName"
            formControlName="homeTeamName"
            placeholder="Enter Home Team Name"
            [maxlength]="20"
            [minlength]="4"
          />
        </div>
      </div>
    </form>

    @if(errors.length) {
    <p-messages [(value)]="errors" [enableService]="false"></p-messages>
    }

    <ng-template pTemplate="footer">
      <div class="flex justify-content-end">
        <p-button
          label="Save"
          icon="pi pi-check"
          severity="success"
          [disabled]="!form.valid || !form.dirty"
          (onClick)="editGameClicked()"
        />
        <p-button
          label="Cancel"
          icon="pi pi-times"
          severity="danger"
          class="ml-2"
          [routerLink]="['/']"
        />
      </div>
    </ng-template>
  </p-card>

  <p-card
    [header]="'Away Team - ' + gameData.game.awayTeamCode"
    class="w-30rem"
  >
    @for(player of gameData.awayRoster; track player.player.id) {
    <div class="flex gap-2 align-items-center mb-1">
      <p-button
        size="small"
        icon="pi pi-times"
        severity="danger"
        (onClick)="removePlayerClicked(player.player.id, false)"
      />
      <a [routerLink]="['/', 'players', player.player.id]">{{
        player.player.name
      }}</a>
    </div>
    } @empty {
    <div>No Players.</div>
    }
  </p-card>

  <p-card
    [header]="'Home Team - ' + gameData.game.homeTeamCode"
    class="w-30rem"
  >
    @for(player of gameData.homeRoster; track player.player.id) {
    <div class="flex gap-2 align-items-center mb-1">
      <p-button
        size="small"
        icon="pi pi-times"
        severity="danger"
        (onClick)="removePlayerClicked(player.player.id, true)"
      />
      <a [routerLink]="['/', 'players', player.player.id]">{{
        player.player.name
      }}</a>
    </div>
    } @empty {
    <div>No Players.</div>
    }
  </p-card>
</div>
<div>
  <p-card header="Current Players" class="w-full">
    <div class="flex gap-3">
      @if (players$ | async; as playersResponse) { @if (playersResponse.result;
      as players) { @for(player of players; track $index) {
      <div class="flex gap-2 align-items-center mb-1">
        <p-button
          size="small"
          icon="pi pi-briefcase"
          severity="danger"
          (onClick)="addPlayerClicked(player.id, false)"
        />
        <p-button
          size="small"
          icon="pi pi-home"
          severity="success"
          (onClick)="addPlayerClicked(player.id, true)"
        />
        <a [routerLink]="['/', 'players', player.id]">{{ player.name }}</a>
      </div>
      } } }
    </div>
  </p-card>
</div>
<div class="mt-3">
  <p-button
    label="Delete Game"
    icon="pi pi-trash"
    severity="danger"
    (onClick)="deleteGameClicked()"
  />
</div>
} }
